version: "3"
services:
  billingserviceapp:
    build: ./app
    links:
      - billingservicedb
    ports:
      - 5000
    volumes:
      - /app
      - /in

  billingservicedb:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
      - data_sql:/var/lib/mysql/data
volumes:
  data_sql:

