version: "3"
services:
  service_app_weight:
    build: ./app
    image: weight_app_service
    depends_on:
      - service_db_weight
    ports:
      - 5000:5000
    volumes:
      - ./app:/app
      - ./app/in:/in
      - /tmp:/var/log/weight

  service_db_weight:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
