version: "3"
services:
  service_app_weight:
    build: ./app
    image: weight_app_service
    depends_on:
      - db
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app

  service_db_weight:
    image: mysql:5.7:weight_db_service
    ports:
      - "32000:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
